/* Navigation Bar */
/* .navBar { */
.navbar {
    font-family: 'Quicksand', sans-serif;
}

.navbar.scrolled {
    background-color: white !important;
    box-shadow: 0px 2px 19px -3px rgba(136,136,136,0.79);
    transition: box-shadow 200ms linear;
}

.navcont {
    position: relative;
    text-align: center;
    color: white;
}

.name {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: bold;
    /* padding: 20px; */
    float: left;
    /* margin-left: 20px;
    letter-spacing: 0.2em;
    opacity: 80%; */
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
}

#logo {
    width: 50%;
    float: left;
}

.nav {
    text-align: center;
    float: right;
}

.info {
    margin: auto;
}

#index, #portfolio, #contact {
    float: right;
    display: table-cell;
    margin: 30px 0px;
    padding: 0px 10px;
}


/* a.nav-link {
    color: #777777;
    text-decoration: none;
    padding: 0px;
} */

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    float: left;
    margin-left: 20px;
    letter-spacing: 0.2em;
    opacity: 80%;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h4 {

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

}

#black {
    color: black;
}

/* General Container */
body {
    margin: 0px;
    padding: 0px;
    /* background-image: url("../images/lilyflower.png");  */
    /* background-color: #EFEFEF; */
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom right;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #777777;
    line-height: 1.5em;
    padding: 0 20px 0 20px;
}

#lily {
    width: 200px;
    display: block;
    margin: auto;
}

#logo2 {
        width: 300px;
        display: block;
        margin: auto;
}

hr {
    height: 2px;
    border-width: 0px;
    background-color: #dddddd;
    color: #dddddd;
}

#container {
    padding: 30px;
    margin-bottom: 10%;
    margin: auto;
}

#margin {
    margin-top: 15%;
}

#padding {
    padding: 20px;
}

#box {
    padding-top: 30px;
    margin: auto;

}

#box-1 {
    background-color: white;
    padding: 30px 0 30px 0;
}

#box-2 {
    background-color: white;
}

#intro {
    padding-top: 10px;
    margin-bottom: 100px;
}

#intro-1 {
    padding-top: 10px;
    margin-bottom: 5px;
}

#contactme {
    padding: 80px;
}

.circle {
    /* background: #777777; */
    background: rgba(255,123,152,1);
    background: linear-gradient(to right, rgba(255,123,152,1) 0%, rgba(251,0,54,1) 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    /* padding: 30px; */
}

/* Footer */
#footer {
    background-color: #777777;
    /* height: 100px; */
    padding: 20px 0px 0px 0px;
    /* float: bottom; */
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

#footer p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    /* position: absolute; */
    width: 100%;
    margin: 0px;
    /* top: 60%; */
}

/* Contact */
input[type=text], select, textarea  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    resize: vertical;

}

::placeholder {
    color: #b1aeae;
}

#message  {
    height: 200px;
    font-family: 'Quicksand', sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color: #777777;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}

.btn {
    background-color: #777777;
    border: none;
    border-radius: 0;
}

.btn:hover {
    background-color: #f6305a;
}
  
input[type=submit]:hover {
    background-color: #f6305a;
}

/* Portfolio */
.portfolioBox {
    /* width: 70%; */
    margin-left: 15px;
    
}

.row {
    margin-left: 0;
}


.imageBox{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin: 20px 20px 20px 0px;
}
.imageBox .text {
    position: absolute;
    z-index: 1;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 100%;
    background: #4aaaa5;
    color: white;
}

.text a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

#cards {
    margin: 20px;
    display: inline-block;
}

.card {
    border-radius: 0;
}

.card-img-top {
    border-radius: 0;
    height: 200px;
}

#contacts {
    margin: 7%;
}

i {
    color: white;
    font-size: 30px;
    margin: 10px;
}

.container-fluid {
    padding: 0;
}

/* Carousel DIV */
.carousel-inner {
    width: 80%;
    padding: 0 40px;
    margin: auto;
    height: 500px;
}

.progress {
    /* width: 200px; */
    border-radius: 0;
    background-color: #EFEFEF;
    margin-bottom: 10px;
    border: none;
}

.progress-bar {
    background: rgba(255,123,152,1);
    background: linear-gradient(to right, rgba(255,123,152,1) 0%, rgba(251,0,54,1) 100%);
    border: none;
}

/* Media CSS Bootstrap */
@media (max-width: 980px) {
    #box {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .col-md-8 {
        max-width: 100%;
        flex: 100%;
        margin-right: 20px;
    }

    #box {
        margin: auto;
    }

}

@media (max-width: 640px) {
    img#lily {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    body {
        background-size: cover;
    }

    #box {
        margin: auto;
    }

    #name {
        margin: 0;
    }

    .nav {
        float: none;
        justify-content: center;
        height: 60px;
    }

    .col-6 {
        flex: 100%;
        max-width: 100%
    }
}
