/* Navigation Bar */
/* .navBar { */
.navbar {
    font-family: 'Quicksand', sans-serif;
    background-color: #DEDFE1;
}

.nav {
    text-align: center;
    float: right;
}

.info {
    margin: auto;
}

#index, #portfolio, #contact {
    float: right;
    display: table-cell;
    margin: 30px 0px;
    padding: 0px 10px;
}


a.nav-link {
    color: #777777;
    text-decoration: none;
    padding: 0px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    float: left;
    margin-left: 20px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#black {
    color: black;
}

/* General Container */
body {
    margin: 0px;
    padding: 0px;
    /* background-image: url("../images/background.jpg");  */
    background-color: #DEDFE1;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #777777;
    line-height: 1.5em;
    padding: 0 20px 0 20px;
}

#lily {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

hr {
    height: 2px;
    border-width: 0px;
    background-color: #dddddd;
    color: #dddddd;
}

#container {
    padding: 30px;
    margin-bottom: 10%;
    margin: auto;
}

#margin {
    margin-top: 15%;
}

#padding {
    padding: 20px;
}

#box {
    padding-top: 30px;
    margin: auto;

}

#box-1 {
    background-color: #777777;
    padding: 30px 0 30px 0;
    margin-top: 30px;
}

#intro {
    padding-top: 10px;
}

/* Footer */
#footer {
    /* height: 100px; */
    padding: 20px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    /* float: bottom; */
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

#footer p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    /* position: absolute; */
    width: 100%;
    margin: 0px;
    /* top: 60%; */
}

/* Contact */
input[type=text], select, textarea  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    resize: vertical;

}

::placeholder {
    color: #b1aeae;
}

#message  {
    height: 200px;
    font-family: 'Quicksand', sans-serif;
}

input[type=submit] {
    width: 100px;
    background-color: #777777;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}
  
input[type=submit]:hover {
    background-color: #4aaaa5;
}

/* Portfolio */
.portfolioBox {
    /* width: 70%; */
    margin-left: 15px;
    
}


.imageBox{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin: 20px 20px 20px 0px;
}
.imageBox .text{
    position: absolute;
    z-index: 1;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 100%;
    background: #4aaaa5;
    color: white;
}

.text a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

#cards {
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
}

#contacts {
    margin: 7%;
}

i {
    color: #777777;
    font-size: 30px;
    margin: 10px;
}

/* Media CSS Bootstrap */
@media (max-width: 980px) {
    #box {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .col-md-8 {
        max-width: 100%;
        flex: 100%;
        margin-right: 20px;
    }

    #box {
        margin: auto;
    }

}

@media (max-width: 640px) {
    img#lily {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    body {
        background-size: cover;
    }

    #box {
        margin: auto;
    }

    #name {
        margin: 0;
    }

    .nav {
        float: none;
        justify-content: center;
        height: 60px;
    }

    .col-6 {
        flex: 100%;
        max-width: 100%
    }
}