/* Navigation Bar */
/* .navBar { */
#navbar {
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-bottom: solid #dddddd;
}

.nav {
    text-align: center;
    float: right;
}

.info {
    margin: auto;
}

#index, #portfolio, #contact {
    float: right;
    display: table-cell;
    margin: 30px 0px;
    padding: 0px 20px;
}

#index, #portfolio {
    border-right: 1px solid #dddddd;
}

a.nav-link {
    color: #777777;
    text-decoration: none;
    padding: 0px;
}

#name {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    float: left;
    margin-left: 20px;
}

/* General Container */
body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/concrete_seamless.png"); 
    background-repeat: repeat;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.5em;
    padding: 0 20px 0 20px;
}

p#about {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

img#lily {
    width: 240px;
    height: 350px;
    padding: 0 20px 20px 20px;
    float: left;
}

hr {
    height: 2px;
    border-width: 0px;
    background-color: #dddddd;
    color: #dddddd;
}

#container {
    padding: 30px;
    margin-bottom: 10%;
}

#margin {
    margin-bottom: 20%;
}

#padding {
    padding: 20px;
}

#box {
    padding-top: 30px;
    margin: 20px 20px 0 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-collapse: separate;
}

#intro {
    padding-top: 10px;
}

/* Footer */
#footer {
    background-color: #666666;
    /* height: 100px; */
    padding: 20px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    border-top: 8px solid #4aaaa5;
    /* float: bottom; */
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

#footer p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    color: #dddddd;
    /* position: absolute; */
    width: 100%;
    margin: 0px;
    /* top: 60%; */
}

/* Contact */
input[type=text], select, textarea  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    resize: vertical;

}

::placeholder {
    color: #b1aeae;
}

#message  {
    height: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}
  
input[type=submit]:hover {
    background-color: #4aaaa5;
}

/* Portfolio */
.portfolioBox {
    /* width: 70%; */
    margin-left: 15px;
    
}

img {
    height: 250px;
    width: 280px;
    float: left;
}

.imageBox{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin: 20px 20px 20px 0px;
}
.imageBox .text{
    position: absolute;
    z-index: 1;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 100%;
    background: #4aaaa5;
    color: white;
}

.text a {
    color: white;
    text-decoration: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* Media CSS Bootstrap */
@media (max-width: 980px) {
    #box {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .col-md-8 {
        max-width: 100%;
        flex: 100%;
        margin-right: 20px;
    }

}

@media (max-width: 640px) {
    img#lily {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #box {
        margin-right: 20px;
    }

    #name {
        margin: 0;
    }

    .nav {
        float: none;
        justify-content: center;
        height: 60px;
    }

    #index, #portfolio, #contact {
        margin-top: 15px;
    }
}