h1 {
    color: white;
    text-align: center;
    margin: 10px;
}

h2 {
    display: inline-block;
}

h3 {
    margin: 10px;
}

h4 {
    color: white;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1rem;
}

body {
    color: #494949;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

nav {
    width: 100%;
    position: fixed;
}

.searchBtn {
    background-color: #017bff;
    border-radius: 5px;
    color: white;
    padding: 13px;
    margin-left: 10px;
}

.sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
}

.col-md {
    margin: auto;
}

.weatherInfo {
    padding: 20px;
    margin: 30px 10px 30px 0;
    width: 100%;
    /* border: 1px solid #cccccc;
    border-radius: 5px; */
}

.cityHistory {
    margin: 20px;
}

.btn {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 0px;
    text-align: left;
    margin-left: -20px;
    margin-top: -2px;
    width: 100%;
}

#fiveDayBox {
    background-color: #017bff;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 20px 0 0;
    display: inline-block;
    width: 200px;
}

.fiveDay {
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-top: 5px;
    padding: 5px;
}

i {
    display: inline-block;
}

.weatherIcon {
    font-size: 30px;
    padding-left: 10px;
    display: block;
    margin: 10px;
}

.uvIndex {
    padding: 5px;
    background-color: rgb(211, 0, 0);
}

#cityIcon {
    display: inline-block;
}

span {
    margin: 10px;
}

#icon {
    display: inline-block;
    font-size: 70px;
    margin-bottom: 40px;
}

.uvIndexLow {
    background-color: green;
}

.cityBtn {
    background: transparent;
    display: inline-block;
    border: none;
}

#searchHistory {
    margin: 0;
    line-height: 0;
}
